<nav>
  <ol class="flex flex-row py-3">
    <li class="px-2 text-darkBlue uppercase font-accent text-sm font-bold align-baseline">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}Previous{% endif %}
    </li>
    <li class="px-2 text-darkBlue uppercase font-accent text-sm font-bold align-baseline">
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next</a>
        {% else %}Next{% endif %}
    </li>
  </ol>
</nav>