<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}Previous{% endif %}
    </li>
    <li>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next</a>
        {% else %}Next{% endif %}
    </li>
  </ol>
</nav>