{# <img src="{{ image }}" alt="{{ imageAlt }}"> #}
<h1 class="py-5 uppercase font-accent text-lg md:pt-0">
  <a href="{{ post.url }}">{{ post.data.title }}</a>
</h1>
<p>
  <time>{{ post.data.date | postDate }}</time>
</p>
<p class="pl-3">{{ post.data.description }}</p>