<div class="flex flex-row">
  <p class="text-darkBlue uppercase font-bold text-sm px-2 justify-center align-baseline">Tag:
    <a href="/archive/tag/{{ tag | slugify }}" class="text-darkFont normal-case font-normal justify-center align-baseline">{{ tag }}</a>
  </p>
</div>