<div class="flex flex-row">
  <p class="text-darkBlue font-accent justify-center px-2 text-sm font-bold uppercase align-baseline">Tag:
    <a href="/tag/{{ tag | slug }}/" class="text-darkFont font-accent justify-center font-normal uppercase align-baseline">{{ tag }}</a>
  </p>
</div>