{# <ul>
  {% for tag in post.data.tags %}
    <li>
      <a href="/archive/tag/{{ tag | slugify }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul> #}
<ul>
  {% for tag in tags %}
    <li>
      <a href="/archive/tag/{{ tag | slugify }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>