--- 
layout: partials/base.njk 
title: Empire Compost Club 
---

{% block content %}
  <article class="max-w-2xl mx-auto bg-white">
    <img src="{{ image }}" alt="{{ imageAlt }}">
      <h1 class="py-8 font-bold">{{ title }}</h1>
      <p>
        <time>{{ date | postDate }}</time>
      </p>
      <p>{{ description }}</p>
      <p>{{ author }}</p>
      {{ content | safe }}
      <ul>
        {% for tag in tags %}
          <li>
            <a href="/archive/tag/{{ tag | slugify }}">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>
  {% endblock %}