--- 
layout: partials/base.njk 
title: Empire Compost Club
jsFile: /assets/js/**.js
---

<section class="w-full md:container mx-auto">
  <h1 class="font-accent my-20 uppercase text-darkBlue text-center text-lg mx-auto">{{ title }}</h1>
  <div class="md:container flex flex-col justify-center font-body text-darkFont mb-20">
    <p>
      <time>{{ date | postDate }}</time>
    </p>
    <p class="pl-3">{{ description }}</p>
    {% include "components/canvas.njk" %}
    {% for tag in tags %}
      {% include "components/tag.njk" %}
    {% endfor %}
  </div>
</section>
{% include "components/navigation.njk" %}