---
layout: partials/base.njk
title: archive
pagination:
  data: collections.posts 
  size: 10
---

<section class="md:container w-full mx-auto">
  <h1 class="font-accent text-darkBlue mx-auto my-20 text-lg text-center uppercase">{{ title }}</h1>
  <div class="md:container font-body text-darkFont flex flex-col justify-center mb-20">
    {% for post in pagination.items | reverse %}
      <div class="border-brightOrange py-3 border-b">
        {% include "components/postDetails.njk" %}
        {% for tag in post.data.tags %}
          <p class="pt-2">
            {% include "components/tag.njk" %}
          </p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>
{% include "components/pagination.njk" %}