---
layout: partials/base.njk
title: archive
pagination:
  data: collections.posts 
  size: 10
---

<h1>{{ title }}</h1>
<ul>
  {% for post in pagination.items | reverse %}
    {% include "components/postDetails.njk" %}
    {% for tag in post.data.tags %}
      {% include "components/tag.njk" %}
    {% endfor %}
  {% endfor %}
</ul>
{% include "components/pagination.njk" %}