<footer class="text-gray-700 bg-white border-t body-font">
  <img src="/assets/images/BackgroundSunset.png" alt="sunset" class="h-1 w-full">
  <div>
    <div class="container flex flex-col flex-wrap px-5 py-6 lg:px-20 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center text-base">
        <p class="mr-5 txt-sm text-center">&copy; Sarah J Dawns {% year %}</p>
      </div>
      <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
        <p class="mr-5 text-sm-text-center text-gray-500">Creating for you</p>
      </span>
      <div>
        <a href="https://twitter.com/sjdawns" target="_blank">
          <i class="fa-brands fa-twitter" title="Twitter"></i>
        </a>
        <a href="https://github.com/sarahJDawns" target="_blank">
          <i class="fa-brands fa-github" title="GitHub"></i>
        </a>
        <a href="https://sarahjdawns.netlify.app/" target="_blank">
          <i class="fa-solid fa-star" title="Portfolio"></i>
        </a>
      </div>
    </div>
  </div>
</footer>