<header class="font-body text-darkBlue uppercase">
  <div class="container flex flex-col flex-wrap mx-auto">
    <nav class="flex flex-wrap justify-between w-full mx-auto mb-3">
      <div class="md:flex md:flex-row md:align-left md:w-1/2 hidden">
        <p>Empire Code Create</p>
      </div>
      <div class="md:justify-end md:w-1/2 flex flex-row justify-around w-full mx-auto">
        <a href="/" class="text-md hover:text-brightOrange px-3">Home</a>
        <a href="/archive" class="text-md hover:text-brightOrange px-3">Archive</a>
        <a href="/about" class="text-md hover:text-brightOrange px-3">About</a>
      </div>
    </nav>
  </div>
  <img src="/assets/images/BackgroundSunset.png" alt="sunset" class="w-full h-1">
</header>