<header class="text-gray-800 bg-white border-t border-b body-font">
  <div class="container flex-flex-col flex-wrap -5 mx-auto md:item-center md:flex-row">
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">
      <a href="/"><img src="/assets/images/gridCircle.png" alt="gridInSpace" title="gridInSpace" class="w-1/12">
      </a>
      <a href="/" class="mr-6 text-md font-semibold hover:text-gray-800">Home</a>
      <a href="/archive" class="mr-6 text-md font-semibold hover:text-gray-800">Archive</a>
      <a href="/about" class="mr-6 text-md font-semibold hover:text-gray-800">About</a>
      <a href="https://twitter.com/sjdawns" target="_blank">
        <i class="fa-brands fa-twitter" title="Twitter"></i>
      </a>
      <a href="https://github.com/sarahJDawns" target="_blank">
        <i class="fa-brands fa-github" title="GitHub"></i>
      </a>
      <a href="https://sarahjdawns.netlify.app/" target="_blank">
        <i class="fa-solid fa-star" title="Portfolio"></i>
      </a>
    </nav>
  </div>
  <img src="/assets/images/BackgroundSunset.png" alt="sunset" class="h-1 w-full">
</header>