<header class="font-body uppercase text-darkBlue">
  <div class="container flex flex-col flex-wrap mx-auto">
    <nav class="flex flex-wrap justify-between mb-3 w-full mx-auto">
      <div class="hidden md:flex md:flex-row md:align-left md:w-1/2">
        <p>Empire Code Create</p>
      </div>
      <div class="flex flex-row justify-around mx-auto w-full md:justify-end md:w-1/2">
        <a href="/" class="text-md px-3 hover:text-brightOrange">Home</a>
        <a href="/archive" class="text-md px-3 hover:text-brightOrange">Archive</a>
        <a href="/about" class="text-md px-3 hover:text-brightOrange">About</a>
      </div>
    </nav>
  </div>
  <img src="/assets/images/BackgroundSunset.png" alt="sunset" class="h-1 w-full">
</header>